<!DOCTYPE html>{% load static %}
{% load convertors %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
          .bgc_lg{
            background-color:rgb(165,255,127);
          }
        th, td {
            padding: 8px;
        }
    </style>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>

 <table>
    <thead>
        <th>Год</th><th>Янв</th><th>Фев</th><th>Мар</th><th>Апр</th><th>Май</th><th>Июн</th><th>Июл</th><th>Авг</th><th>Сен</th><th>Окт</th><th>Ноя</th><th>Дек</th><th>Суммарная</th>
    </thead>
    <tbody>
        {% for year_data in inflation_history %}
        <tr height="10px">
            <td>{{ year_data.year }}</td>
            {% for month in year_data.months %}
                {% if month|str_to_float is None %} <td>-</td>
                {% elif month|str_to_float < 0 %} <td class="bgc_lg">{{ month }}</td>
                {% elif month|str_to_float <= 1 %} <td>{{ month }}</td>
                {% elif month|str_to_float <= 2 %} <td style="background-color:rgb(251,200,201)">{{ month }}</td>
                {% elif month|str_to_float <= 5 %} <td style="background-color:rgb(246,118,122)">{{ month }}</td>
                {% else %} <td style="background-color:rgb(251,0,8)">{{ month }}</td>
                {% endif %}
            {% endfor %}
            <td bgcolor="gray">{{ year_data.total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

        </div>
      </div>
    {% endblock %}

  </body>
</html>